<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="title"><%= @horizon.capitalize+"ly" %> Goals</h2>
    </div>
    <div class="level-item">
      <%= link_to "New Goal", new_goal_path(horizon: @horizon), class: "button is-primary" %>
    </div>
  </div>
</div>