<div class="columns">
    <div class="column has-text-left">
      <%= link_to "â† Back", goal_path(@goal, horizon: @horizon), class: "", remote: true %>
    </div>
    <div class="column has-text-centered">
      <p class="modal-card-title">Edit Goal</p>
    </div>
    <div class="column has-text-right">
      <button class="delete close-modal" aria-label="close"></button>
    </div>
  </div>
</div>
