<div class="columns">
  <div class="column"></div>
  <div class="column is-four-fifths has-text-centered">
    <p class="modal-card-title">Create a New Goal</p>
  </div>
  <div class="column has-text-right">
    <button class="delete close-modal" aria-label="close"></button>
  </div>
</div>