<div class="columns">
  <div class="column"></div>
  <div class="column is-four-fifths has-text-centered">
    <p class="modal-card-title">Goal Details</p>
  </div>
  <div class="column has-text-right">
    <button class="delete" aria-label="close" onclick="document.getElementById('modal-close-button').click()"></button>
  </div>
</div>