<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="title is-3 is-spaced"><%= @life_goal.title %></div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
    </div>
  </div>
</div>
    

<div class=""><strong>WHAT </strong></div>
<div><%= @life_goal.what %></div>
<br/>
<div class=""><strong>WHY </strong></div>
<div><%= @life_goal.why %></div>
