<div class=level>
  <div class="level-left">
    <div class="level-item">
      <a class="button is-primary" onclick="document.getElementById('new-save-button').click()">Save</a>
    </div>
    <div class="level-item">
      <button class="button close-modal clickable">Cancel</button>
    </div>
  </div>
</div>
