<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="title is-3 is-spaced"><%= @life_goal.title %></div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
    </div>
  </div>
</div>
    

<div class="heading">What</div>
<div><%= simple_format(@life_goal.what) %></div>
<br/>
<div class="heading">Why</div>
<div><%= simple_format(@life_goal.why) %></div>
