<div class=level>
  <div class="level-left">
    <div class="level-item">
      <a class="button is-primary" onclick="document.getElementById('edit-form-update').click()">Save</a>
    </div>
    <div class="level-item">
      <button class="button close-modal">Close</button>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a class="has-text-danger" onclick="document.getElementById('goal-delete-button').click()">Delete</a>
    </div>
  </div>
</div>