<%= link_to "Edit", edit_goal_path(horizon: @horizon, term: @term), class: "button is-primary", remote: true %>
<button class="button" onclick="document.getElementById('modal-close-button').click()">Close</button>