<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="title is-3 is-spaced"><%= @life_goal.title %></div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
    </div>
  </div>
</div>
    
<% unless @life_goal.what.blank? %>
  <div class="heading">What</div>
  <div><%= simple_format(@life_goal.what) %></div>
  <br/>
<% end %>

<% unless @life_goal.why.blank? %>
  <div class="heading">Why</div>
  <div><%= simple_format(@life_goal.why) %></div>
  <br/>
<% end %>

<% if @children_goals.count > 0 %>
  <div class="heading">Children Goals</div>
  <div class="bullet children-goals">
    <ul>
    <% @children_goals.each do |goal| %>
      <li class=""><%= goal.title %></li>
    <% end %>
    </ul>
  </div>
<% end %>
