<div class="container menu">
  <div class="section">
    <h1 class="title is-4 has-text-centered has-text-white">My Goal App</h1>
  </div>
  <ul class="menu-list">
    <li><a href="/">HOME</a></li>
    <li><a href="/goals?horizon=week&term=term_this">Weekly goals</a></li>
    <li><a href="/goals?horizon=quarter&term=term_this">Quarterly goals</a></li>
    <li><a href="/goals?horizon=year&term=term_this">Yearly goals</a></li>
    <li><a href="/life_goals">Life goals</a></li>
  </ul>
</div>
