<div class="container menu">
  <div class="section">
    <h1 class="title is-4 has-text-centered has-text-white">My Goal App</h1>
  </div>
  <ul class="menu-list">
    <li><a href="/">HOME</a></li>
    <li><a href="/goals">Weekly goals</a></li>
    <li><a href="/goals/quarterly_index.html">Quarterly goals</a></li>
    <li><a href="/goals/quarterly_index.html">Yearly goals</a></li>
    <li><a href="/goals/quarterly_index.html">Life goals</a></li>
  </ul>
</div>
